#add-fruit {
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.input-field{
    border: 1px solid black;
    width:30%;
    margin-bottom: 10px;
}
.shipping-card {
    width: 25%;
    margin: 20px auto;
  }
  .row {
    display: flex;
    flex-direction: row;
  }